@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

@layer base {
  a.link {
    @apply font-semibold text-primary;
  }

  .global-container {
    @apply mx-auto max-w-[1280px];
  }

  .error {
    @apply text-red-500;
  }

  .mdx-body {
    h2,
    h3,
    h4,
    h5 {
      @apply mb-[16px] mt-[32px] font-bold leading-[1.4] tracking-[-0.24px] text-neutral90;
    }
    h2 {
      @apply text-[32px];
    }
    h3 {
      @apply text-[24px];
    }
    h4 {
      @apply text-[20px];
    }
    h5,
    h6 {
      @apply text-[18px];
    }
    .points-with-heading {
      p {
        @apply mb-[18px] flex flex-col gap-[8px] text-[14px] leading-[1.7] text-neutral70;
      }
      strong {
        @apply text-[16px] leading-[1.4] tracking-[-0.16px] text-neutral90;
      }
    }
    p {
      @apply mb-[20px];
    }
    ul,
    ol {
      @apply list-inside space-y-1 text-neutral20;
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    a {
      @apply text-primary;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#parent {
  height: 100px;
  overflow: auto;
}
#parent > div {
  display: inline-block;
  vertical-align: top;
}
#sticky {
  position: sticky;
  top: 0;
}
